{% extends 'velo/index.html' %}

{% block content %}
    <div class="post">
        {% if players.published_date %}
            <div class="date">
                {{ players.published_date }}
            </div>
        {% endif %}
        
        <p>Bonjour <span class="big">{{ players.nom}} !</span>  <br>Sur {{ players.nbsal}} salariés, votre entreprise {{palyers.entrep}} peux compter sur environ <span class = "big">{{players.pvelo}}</span> cyclistes.</p>
        <hr>
        <p>Selon nos estimations, la mise en place de l'IKV vous permetrait d'élever ce chiffre à <br><span class = "big">{{players.evocycliste}} cyclistes</span> la première année !</p>
        <p>Cela représente près de {{players.evoar}} trajets Domicile / Travail réalisés à vélo.<br> ({{players.evoarp}} trajets, en fonction de l'accessibilité à votre site) pour un total de </p>
        <p><span class="big">{{players.distance}} kilomètres</span> parcourus en 12 mois.<br>({{players.distmoy}}km en moyenne par cycliste)</p>
        <p>soit un cout total de <span class="big">{{players.coutdist}} €</span> hors plafond</p>
        <p><span class="big">{{players.coutpt}} €</span> avec un plafond de 200 € par salaré.</p>
        <hr>
        <h1>Actions a mettre en oeuvre pour le développement du vélo :</h1>
		<p>Motivation direction : {{ players.g1}} %</p>
        <p>Recommandation Direction : <span>{{ players.recodir}}</span></p>
		<p>Motivation des salariés : {{ players.g2}} %</p>
        <p>Recommandation Salariés : <span>{{ players.recosal}}</span></p>
		<p>Avancement du PDE : {{ players.g3}} %</p>
        <p>Recommandation PDE : <span>{{ players.recopde}}</span></p>
    </div>
{% endblock %}