{% extends 'velo/index.html' %}

{% block content %}

<section class="Section Section--results">
                <header class="Section-header">
                    <div class="Wysiwyg u-textCenter">
                        <h2>Résultat du calcul</h2>
                    </div>
                </header>
                <div class="Section-inner">
                    <div class="Results">
                        <div class="Results-column">
                            <div class="Result">
                                <strong class="Result-text">sur&nbsp;:</strong>
                                <div class="Result-value">
                                    <div class="Result-value-number Result-value-number--small">{{ players.nbsal}} salariés</div>
                                </div>
                            </div>

                            <div class="Result">
                                <strong class="Result-text">votre entreprise peut compter sur environ&nbsp;:</strong>
                                <div class="Result-value Result-value--highlighted">
                                    <div class="Result-value-number">{{players.pvelo}}</div>
                                    <svg class="Result-value-icon" width="44" height="44">
                                        <use xlink:href="#Cyclist" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="Results-column">
                            <div class="Result">
                                <strong class="Result-text">&nbsp;</strong>
                                <div class="Result-value">
                                    <div class="Result-value-description">La mise en place de l’idemnité Kilométrique Vélo (IKV) vous permettrait d’élever ce chiffre à&nbsp;:</div>
                                    <div class="Result-value-number c-yellow">{{players.evocycliste}}</div>
                                    <svg class="Result-value-icon" width="44" height="44">
                                        <use xlink:href="#Cyclist" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Section-inner">
                    <div class="Wysiwyg u-textCenter">
                        <p>La première année, cette évolution représenterai :</p>
                    </div>
                </div>
                <div class="Section-inner">
                    <div class="KeyFigures">
                        <div class="Grid Grid--equalHeight" grid-gap="column">
                            <div class="Grid-item" grid-size="1/3 1@M">
                                <div class="KeyFigure">
                                    <div class="KeyFigure-name">UN TOTAL DE</div>
                                    <div class="KeyFigure-value">
                                        <b class="KeyFigure-value-number">{{players.evoarp}}</b>
                                    </div>
                                    <div class="KeyFigure-name">TRAJETS QUOTIDIENS<br>(Domicile / Travail)</div>
                                </div>
                            </div>
                            <div class="Grid-item" grid-size="1/3 1@M">
                                <div class="KeyFigure">
                                    <div class="KeyFigure-value">
                                        <b class="KeyFigure-value-number">{{players.distance}}</b>&nbsp;<span class="KeyFigure-value-unit">kms</span>
                                    </div>
                                    <div class="KeyFigure-name">PARCOURUS</div>
                                </div>
                            </div>
                            <div class="Grid-item" grid-size="1/3 1@M">
                                <div class="KeyFigure">
                                    <div class="KeyFigure-name">COÛT DE L'IKV</div>
                                    <div class="KeyFigure-value">
                                        <b class="KeyFigure-value-number">{{players.coutdist}}</b>&nbsp;<span class="KeyFigure-value-unit">€</span>
                                    </div>
                                    <div class="KeyFigure-name">AVEC UN PLAFOND DE <br>200 €/sal/mois</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<footer class="Section-footer">
                    <a class="Button Button--yellow" href="page-checklist.html">Voir nos recommadations</a>
                </footer>-->
            </section>

            <section class="Section">
                <header class="Section-header">
                    <div class="Wysiwyg u-textCenter">
                        <h2>Check-list d’actions</h2>
                    </div>
                </header>
                <div class="Section-inner">
                    <div class="Grid" grid-gap="all">
                        <div class="Grid-item" grid-size="1/3 1@L">

                            <div class="Wysiwyg">
                                <h3>Pour <span class="c-lightgreen">votre direction</span> : {{players.recodir}}</h3>
                                {% if players.recodir == '1' %}
                                <div >
                                <p><b class="c-yellow">Votre direction a une réticence très forte vis-à-vis du vélo</b>par conséquent il est nécessaire d'identifier les raisons.</p>
                                <ul>
                                    <li>Cela peut notamment passer par l'analyse du fichier d'accidentologie des déplacements domicile-travail et/ou déplacements professionnels afin d'identifier si cette réticence et en lien direct avec la réalité de la sinistralité. </li>
                                    <li>Si la réticence est issue du manque d'aménagement la priorité sera de pouvoir échanger avec les collectivités compétentes pour identifier les marges de manœuvre permettant de proposer des aménagements un lien notamment avec les lieux d'habitation des salariés</li>
                                </ul>

                                </div>
                                {% endif %}
                                {% if players.recodir == '2' %}
                                <div >
                                <p><b class="c-yellow">Votre direction à quelques réticences concernant la pratique du vélo.</b><br><br>Mais connaissez-vous les avantages et inconvénients pour les salariés :</p>
                                <ul>
                                    <li>Ponctualité</li>
                                    <li>augmentation de la productivité</li>
                                    <li>baisse du nombre d'arrêt maladie</li>
                                </ul>
                                <p>Si la réticence est également issue de la sinistralité des accidents domicile travail et/ou déplacements professionnels, une analyse des différents accidents sur les 3 ans permettra d'objectiver la situation.</p>
                                <p>Si le manque d'aménagements cyclables est cité comme facteur de réticence, des échanges avec les collectivités compétentes sur ce domaine, sont à mener.</p>
                                </div>
                                {% endif %}
                                {% if players.recodir == '3'  %}
                                <p><b class="c-yellow">Votre direction est favorable à l’usage des vélos dans le cadre de déplacement domicile-travail et/ou professionnels des salariés.</b></p>
                                <ul>
                                    <li>Il est donc important de mettre en avant les différentes actions qui peuvent être mis en place au regard de la pratique des salariés.</li>
                                    <li>En effet un salarié régulier n’a pas les mêmes attentes qu’un usager occasionnel, ainsi il est possible d’adapter les actions à mettre en œuvre pour mieux répondre aux besoins.</li>
                                    <li>De plus il est possible de mettre en place des actions qui peuvent inciter des non-usagers actuels à expérimenter le vélo tout en respectant la sécurité de ceux-ci.</li>
                                </ul>

                                {% endif %}
                            </div>

                        </div>
                        <div class="Grid-item" grid-size="1/3 1@L">

                            <div class="Wysiwyg">
                                <h3>Pour <span class="c-lightgreen">vos salariés</span> : {{players.recosal}} </h3>
                                {% if players.recosal == '1' %}
                                <div >
                                <p>Vos salariés ont besoin de connaître <b class="c-yellow">les avantages du vélo </b>pour le bien être de leur porte monnaie, de leur santé et de la planète !</p>
                                <p>Le saviez-vous ? 15 ! :  le coût moyen mensuel d’un vélo (source fubicy)</p>
                                </div>
                                {% endif %}
                                {% if players.recosal == '2' %}
                                <div >
                                <p><b class="c-yellow">Vos salariés ont besoin d'être rassurés sur la sécurité de leurs déplacements en vélos.</b>Leur rappeler également les avantages du vélo pour le bien être de leur porte monnaie, de leur santé et de la planète !</p>
                                <p>voici quelques idées d'actions possibles :</p>
                                <ul>
                                    <li>Identifier des salariés cyclistes du quotidien, ils seront les ambassadeurs vélo de votre entreprise !</li>
                                    <li>Accompagner vos salariés sur des itinéraires de découverte vélos, sûrs et agréables, empruntant le plus possible des aménagements cyclables existants ou des voiries peu circulées</li>
                                    <li>Distribuer des kits sécurité vélos</li>
                                </ul>
                                </div>
                                {% endif %}
                                {% if players.recosal == '3'  %}
                                <div >

                                <p><b class="c-yellow">Vos salariés ont besoin d'être accompagnés : </b> Certains pratiquent le vélo pour le loisir, alors pourquoi pas l'utiliser pour les déplacements domicile - travail ?</p>
                                <p>Leur rappeler également les <b>avantages du vélo</b> pour le bien être de leur porte monnaie, de leur santé et de la planète !</p>
                                <ul>
                                    <li>Identifier des salariés cyclistes du quotidien, ils seront les ambassadeurs vélo de votre entreprise !</li>
                                    <li>Accompagner vos salariés sur des itinéraires de découverte vélos, sûrs et agréables, empruntant le plus possible des aménagements cyclables existants ou des voiries peu circulées</li>
                                    <li>Inciter les salariés à utiliser le vélo en leur proposant des avantages financiers : l'indemnité kilométrique vélo, l'aide à l'achat pour des vélos à assistance électrique ou d'autres vélos spéciaux (vélos pliants, vélos cargos...)</li>
                                </ul>
                                </div>
                                {% endif %}
                                {% if players.recosal == '4'  %}
                                <div >
                                <p><b class="c-yellow">Vos salariés ont besoin d’être encouragés dans leur pratique quotidienne du vélo&nbsp;:</b></p>
                                <ul>
                                    <li><b>L’IKV</b> (Indemnité Kilométrique Vélo) est une bonne solution pour fidéliser les cyclistes occassionnels&nbsp;!<br><br><b>L’IKV</b> permet d’augmenter la pratique&nbsp;!<br><br>Vous pouvez d’ailleurs simuler l’impact de l’IKV avec le lien suivant&nbsp;:<br><br><a class="Wysiwyg-link" href="http://www.villes-cyclables.org/modules/kameleon/upload/ikv_outil_budget_vf.xls">www.villes-cyclables.org/modules/kameleon/upload/ikv_outil_budget_vf.xls</a></li>
                                    <li><b>L’aide à l’achat de vélos spéciaux</b> (vélos à assistance électrique, vélos pliants, vélos cargos&hellip;) peuvent permettre à vos salariés d’adapter leur vélo à leurs besoins du moment&nbsp;!<br><br>Adapter son vélo en fonction de sa vie personnelle et professionnelle, c’est fidèliser la pratique&nbsp;!</li>
                                </ul>
                                <p></p>
                                </div>
                                {% endif %}
                            </div>

                        </div>
                        <div class="Grid-item" grid-size="1/3 1@L">

                            <div class="Wysiwyg">
                                <h3>Pour <span class="c-lightgreen">votre plan mobilité</span> : {{players.recopde}}</h3>
                                {% if players.recopde == '1' %}
                                <div >
                                <p><b class="c-yellow">L'utilisation des modes alternatifs à la voiture individuelle, et notamment du vélo, est un cercle vertueux ! </b></p>
                                <p>L'entreprise, le salarié, la collectivité, tout le monde est gagnant ; <br>Alors n'hésitez plus, lancez vous dans un plan de mobilité ! </p>
                                <ul>
                                    <li>Améliorez les déplacements domicile - travail de vos salariés ! </li>
                                    <li>Optimisez vos déplacements professionnels ! </li>
                                    <li>Agissez pour votre politique environnementale et développement durable !</li>


                                </ul>
                                <p>Si vous êtes une entreprise de plus de 100 salariés et que vous êtes localisée sur un territoire qui a un PLAN DE DEPLACEMENTS URBAINS vous devez réaliser un PDM</p>
                                </div>
                                {% endif %}
                                {% if players.recopde == '2' %}
                                <div >
                                <p><b class="c-yellow">Votre plan de mobilité est en cours :</b></p>
                                <p>Les actions pour le vélo sont au cœur d'une démarche de développement durable L'entreprise, le salarié, la collectivité, tout le monde est gagnant</p>
                                </div>
                                {% endif %}
                                {% if players.recopde == '3'  %}
                                <div >
                                <p><b class="c-yellow">Bravo, votre Plan de Mobilité est acté ! </b></p>
                                <p>La mise en place concrète des actions est à venir : la qualité de la communication et de l'animation est un paramètre essentiel de l'efficacité de vos actions !</p>
                                <p>Vos actions sont à déclencher au bon moment : le printemps et l'automne, avec une météo clémente est un bon moment pour promouvoir le vélo ! Une information au plus proche de vos salariés est à privilégier, sur un ton encourageant et ludique (bof-bof)</p>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="Section-footer">
                    <a class="Button Button--wide Button--yellow" href="#">Sauvegarder</a>
                    <br><a class="Section-back" href="page-resultats.html">Revenir aux résultats du calcul</a>
                </footer>
            </section>
   
{% endblock %}

 <div class="post">
        {% if players.published_date %}
            <div class="date">
                {{ players.published_date }}
            </div>
        {% endif %}
        
        <h2>ScoreMoyen : <span class="big">{{ players.score}} !</span></h2>
        <p>Bonjour <span class="big">{{ players.nom}} !</span>  <br>Sur {{ players.nbsal}} salariés, votre entreprise {{palyers.entrep}} peux compter sur environ <span class = "big">{{players.pvelo}}</span> cyclistes.</p>
        <hr>
        <p>Selon nos estimations, la mise en place de l'IKV vous permetrait d'élever ce chiffre à <br><span class = "big">{{players.evocycliste}} cyclistes</span> la première année !</p>
        <p>Cela représente près de {{players.evoar}} trajets Domicile / Travail réalisés à vélo.<br> ({{players.evoarp}} trajets, en fonction de l'accessibilité à votre site) pour un total de </p>
        <p><span class="big">{{players.distance}} kilomètres</span> parcourus en 12 mois.<br>({{players.distmoy}}km en moyenne par cycliste)</p>
        <p>soit un cout total de <span class="big">{{players.coutdist}} €</span> hors plafond</p>
        <p><span class="big">{{players.coutpt}} €</span> avec un plafond de 200 € par salaré.</p>
        <hr>
        <h1>Actions a mettre en oeuvre pour le développement du vélo :</h1>
        <div>
            <h3>Recommandations Direction : </h3>
            {% if players.recodir == '1' %}
            <div >
            <p>Actions de sensibilisation fortes à mettre en place auprès de la direction</p>
            </div>
            {% endif %}
            {% if players.recodir == '2' %}
            <div >
            <p>Actions pour conforter la motivation de la direction</p>
            </div>
            {% endif %}
            {% if players.recodir == '3'  %}
            <div >
            <p>Direction OK</p>
            </div>
            {% endif %}
        </div>
        <div>
            <h3>Recommandations Salariés : </h3>
            {% if players.recosal == '1' %}
            <div >
            <p>Un playdoyer actif doit être mis en place auprès des salariés</p>
            </div>
            {% endif %}
            {% if players.recosal == '2' %}
            <div >
            <p>Il faut conforter la motivation de vos salariés !</p>
            <ul>
                <li>Mettre en place des actions d'information et sensibilisation</li>
                <li>Remise en selle</li>
            </ul>
            </div>
            {% endif %}
            {% if players.recosal == '3'  %}
            <div >
            <p>Encourager l'utilisation quotidienne du vélo !</p>
            <ul>
                <li>Aménagements sur le site (parking vélo, douches, ...)</li>
                <li>Mise en place de l'IKV</li>
                <li>Référent vélo</li>
            </ul>
            </div>
            {% endif %}
            {% if players.recosal == '4'  %}
            <div >
            <p>Vous êtes les meilleurs ! </p>
            </div>
            {% endif %}
        </div>
        <div>
            <h3>Recommandation PDM : </h3>
            {% if players.recopde == '1' %}
            <div >
            <p>Argumentaire en amont d'une démarche de PDM</p>
            </div>
            {% endif %}
            {% if players.recopde == '2' %}
            <div >
            <p>Solutions d'accompagnement accompagner dans la réalisations d'actions déja envisagées</p>
            <ul>
                <li>puce 1</li>
                <li>puce 2</li>
            </ul>
            </div>
            {% endif %}
            {% if players.recopde == '3'  %}
            <div >
            <p>Des idées pour dynamiser un PDM existant</p>
            <ul>
                <li>puce 1</li>
                <li>puce 2</li>
            </ul>
            </div>
            {% endif %}
        </div>
        
    </div>