{% extends 'velo/index.html' %}

{% block content %}


            <section class="Section Section--start">
                <div class="Section-inner">
                    <div class="Wysiwyg u-textCenter">
                        <p>&nbsp;</p>
                        <h2>Et si on augmentait le nombre de cyclistes de votre entreprise ?</h2>
                    </div>
                    <div class="Wysiwyg u-textJustify">
                        <p>&nbsp;</p>
                        <div><p>En répondant à seulement 8 questions, notre outil “Guidons” vous aide à évaluer votre marge de progression.</p>
                        <p>Cet outil, développé par nos soins, s’appuie sur notre expérience, acquise par l'accompagnement de nombreux plans de mobilité.</p> <p>En fonction de votre potentiel, nous vous proposons également quelques recommandations sur lesquelles vous concentrer.</p>
                        <p>&nbsp;</p>
                        <div class="Wysiwyg u-textCenter">
                        <p><a class="Button" href="{% url 'newplayer' %}">Laissez vous guider&nbsp;!</a></p>
                    </div>
                    </div>
                </div>
            </section>


{% endblock %}

