    {% extends 'velo/index.html' %}

{% block content %}

            <section class="Section Section--form">
                <div class="Section-inner">

                    <form method="POST" class="Form" >
                    {% csrf_token %}
                    <div class="Form-set">
                        <div class="Form-set Form-set--highlighted">

                            <strong class="Form-caption">Le vélo dans votre entreprise</strong>
                            <div class="Form-group Form-group--questions">

                            <!--{{ form.as_p }}-->
                            <div class="Form-group-item">
                            <div class="Form-control">
                            <div class="Form-field">
                            <div class="Form-label">Nombre de salariés sur votre site</div>                             
                            <p class="Form-control">{{form.nbsal}}</p>
                            </div>
                            </div>

                            <div class="Form-control">
                            <div class="Form-field">
                            <div class="Form-label">A combien estimez-vous la part de salariés venant travailler à vélo&nbsp;?</div>
                            <p class="Form-control">{{form.pccycliste}}</p>
                            </div>

                            </div>

                            <div class="Form-control">

                                <div class="Form-fieldR">
                                    <div class="Form-label">Beta-testeurs :<br>Quelle est la part modale vélo attendue (en %) ?</div>
                                    <p class="Form-control">{{form.PM}}</p>
                            </div>


                            </div>



                            </div>



                            <div class="Form-group-divider"></div>
                            <div class="Form-group-item">
                            <div class="Form-control">
                            <div class="Form-field">
                            <p class="Form-label">Le context géographique de votre site</p>
                            <p class="Form-control">{{form.ctxgeolib}}</p>
                            </div>
                            </div>

                            <div class="Form-control">
                            <div class="Form-field">
                            <p class="Form-label">Comment qualifiez-vous son accessibilité à vélo, de votre lieu de travail&nbsp;?<br><i>(aménagement cyclable, relief, parking à vélo&hellip;)</i></p>
                            <p class="Form-control"> {{form.access}}</p>
                            </div>
                            </div>
                            </div>
                            </div>
                        </div>

                            
                            <div class="Form-set Form-set--highlighted">
                            <strong class="Form-caption">PERCEPTION DU VELO</strong>
                            <div class="Form-group Form-group--questions">

                            <div class="Form-group-item">
                            <div class="Form-control">
                            <div class="Form-field">
                            <div class="Form-question">Pour les personnes suivantes, comment qualifiez-vous la perception du vélo&nbsp;?</div>

                            <p class="Form-label">Votre entreprise : </p>
                            <p class="Form-control">{{form.g1}}</p>
                            <p class="Form-label">Vos salariés : </p>
                            <p class="Form-control">{{form.g2}}</p>
                            </div>
                            </div>
                            </div>
                            <div class="Form-group-divider"></div>



                            <div class="Form-group-item">
                            <div class="Form-control">
                            <div class="Form-field">
                            <div class="Form-question">Actions mise en place</div>

                            <p class="Form-label">Quel est l’état d’avancée de votre plan de déplacement (PDM, PDIE&hellip;)</p>
                            <p class="Form-control">{{form.g3}}</p>
                            <p class="Form-label">Votre entreprise a-t-elle mis en place des actions en faveur du vélo&nbsp;</p>
                            <p class="Form-control">{{form.g4}}</p>
                        </div>
                            </div>
                            </div>
                            </div>
                            </div>


                            <div class="Form-set Form-set--highlighted">
                            <strong class="Form-caption">VOUS</strong>
                            <div class="Form-group Form-group--questions">

                            <div class="Form-group-item">
                                <div class="Form-field">

                                    <div class="Form-control">
                                        <label class="Form-label" for="nom">Votre nom</label>
                                        {{form.nom}}
                                    </div>

                                    <div class="Form-control">
                                        <label class="Form-label" for="ville">Votre email</label>
                                        {{form.mail}}

                                    </div>
                                </div>
                            </div>
                            
                            <div class="Form-group-divider"></div>

                            <div class="Form-group-item">
                                <div class="Form-field">
                                    <div class="Form-control ">
                                        <label class="Form-label" for="entreprise">Votre entreprise</label>
                                        {{form.entrep}}
                                    </div>



                                    <div class="Form-control">
                                        <label class="Form-label" for="ville">Votre ville</label>
                                        {{form.ville}}
                                    </div>


                            </div>
                            </div>
                            </div>


                        </div>
                                                    <div style="text-align: center">Votre confidentialité est importante à nos yeux.<br>INDDIGO s'engage à ne pas divulguer vos informations personnelles à des tiers et se réserve le droit de vous contacter à des fins commerciales.<br>Vous pouvez consulter notre <span style="color:blue"><a href="https://www.blabla.com">Politique de confidentialité</a></span> <br>et demander à tout moment la supression de ces données en nous contactant à l'adresse : geomatique@inddigo.com</div>

                    <div class="Form-footer">
                    <button type="submit" class="Button">Envoi</button>
                    </div>

                   </form> 
                </div>
            </section>
{% endblock %}













