{% extends 'velo/index.html' %}

{% block content %}


            <section class="Section Section--start">
                <div class="Section-inner">
                    <div class="Wysiwyg u-textJustify">
                        <p>&nbsp;</p>
                        <h2>1.	Gestion des données personnelles :</h2>
                    </div>
                    <div class="Wysiwyg u-textJustify">
                        <p>&nbsp;</p>
                        <div>
                                <p>En France, les donn&eacute;es personnelles sont notamment prot&eacute;g&eacute;es par :</p>
                                <ul>
                                <li>La loi n&deg; 78-87 du 6 janvier 1978,</li>
                                <li>La loi n&deg; 2004-801 du 6 ao&ucirc;t 2004,</li>
                                <li>L&rsquo;article L. 226-13 du Code p&eacute;nal,</li>
                                <li>La Directive Europ&eacute;enne du 24 octobre 1995,</li>
                                <li>Le r&egrave;glement g&eacute;n&eacute;ral sur la protection des donn&eacute;es entr&eacute; en vigueur le 25 mai 2018.</li>
                                </ul>
                        </div>
                        <p>&nbsp;</p>
                        <div class="Wysiwyg u-textCenter">
                        <p><a class="Button" href="{% url 'newplayer' %}">Laissez vous guider&nbsp;!</a></p>
                    </div>
                    </div>
                </div>
            </section>


{% endblock %}

