{% extends 'velo/index.html' %}

{% block content %}


            <section class="Section Section--start">
                <div class="Section-inner">
                    <div class="Wysiwyg u-textJustify">
                        <p>&nbsp;</p>
                        <h3>Gestion des données personnelles :</h3>
                    </div>
                    <div class="Wysiwyg u-textJustify">
                        <p>&nbsp;</p>
                        <div>
                                <p>En France, les donn&eacute;es personnelles sont notamment prot&eacute;g&eacute;es par :</p>
                                <ul>
                                <li>La loi n&deg; 78-87 du 6 janvier 1978,</li>
                                <li>La loi n&deg; 2004-801 du 6 ao&ucirc;t 2004,</li>
                                <li>L&rsquo;article L. 226-13 du Code p&eacute;nal,</li>
                                <li>La Directive Europ&eacute;enne du 24 octobre 1995,</li>
                                <li>Le r&egrave;glement g&eacute;n&eacute;ral sur la protection des donn&eacute;es entr&eacute; en vigueur le 25 mai 2018.</li>
                                </ul>
                        </div>
                        <div>
                            <p><strong>Comment sont collect&eacute;es les donn&eacute;es personnelles&nbsp;?</strong></p>
                            <ul>
                            <li>Lorsque vous visitez le site <a href="cartoinddigo.pythonanywhere.com">lien vers le site</a>, nous pouvons &ecirc;tre amen&eacute;s &agrave; collecter des donn&eacute;es personnelles &agrave; des fins commerciales.</li>
                            <li>Ces donn&eacute;es sont collect&eacute;es via notre formulaire de contact&nbsp;qui collecte des informations (votre nom, votre entreprise, votre email, votre code postal) nous permettant d&rsquo;&eacute;changer avec vous selon vos besoins exprim&eacute;s dans ce formulaire.</li>
                            <li>Lorsque vous compl&eacute;tez notre formulaire, vous acceptez l&rsquo;utilisation de vos donn&eacute;es personnelles aux fins pr&eacute;vues par celui-ci.</li>
                            </ul>
                            <p><strong>Vos donn&eacute;es peuvent-elles &ecirc;tre partag&eacute;es&nbsp;?</strong></p>
                            <p>Ces donn&eacute;es personnelles ne seront en aucun cas vendues &agrave; des tiers. Cependant, celles-ci peuvent &ecirc;tre partag&eacute;es en interne avec les filiales de la soci&eacute;t&eacute; <a href="http://www.inddigo.com/fr/identite/eco-systeme/filiales-et-prises-de-participations/">Inddigo</a> afin de vous apporter des informations susceptibles de vous int&eacute;resser.</p>
                            <ul>
                            <li>Vos donn&eacute;es personnelles sont conserv&eacute;es par nos &eacute;quipes pendant le temps n&eacute;cessaire au traitement de la demande qui nous a permis de les collecter. En conformit&eacute; avec la loi, lorsque ces donn&eacute;es personnelles ne sont plus requises dans le but pour lequel elles ont &eacute;t&eacute; collect&eacute;es, elles seront effac&eacute;es.</li>
                            <li>Les donn&eacute;es de prospects n&rsquo;ayant pas donn&eacute; suite &agrave; nos sollicitations commerciales seront effac&eacute;es apr&egrave;s au maximum 3 ans, sauf s&rsquo;ils manifestent explicitement leur volont&eacute; de continuer &agrave; recevoir nos envois.</li>
                            </ul>
                            <p><strong>Vos droits vis-&agrave;-vis de vos donn&eacute;es personnelles&nbsp;:</strong></p>
                            <p>Conform&eacute;ment &agrave; la loi informatique et libert&eacute;s du 6 janvier 1978 et au r&egrave;glement g&eacute;n&eacute;ral sur la protection des donn&eacute;es qui est entr&eacute; en vigueur le 25 mai 2018, vous disposez d&rsquo;un droit d&rsquo;acc&egrave;s, de rectification et d&rsquo;effacement de vos donn&eacute;es personnelles. Vous pouvez exercer ce droit en contactant <a href="mailto:rgpd@inddigo.com?subject=Supprimer mes données personnelles de votre site Guidons">rgpd@inddigo.com</a> . Nous nous efforcerons de r&eacute;pondre aux demandes dans les meilleurs d&eacute;lais.</p>
                            <p>&nbsp;</p>
                        </div>
                        <p>&nbsp;</p>
                        <div class="Wysiwyg u-textCenter">
                        <p><a class="Button" href="{% url 'newplayer' %}">Laissez vous guider&nbsp;!</a></p>
                    </div>
                    </div>
                </div>
            </section>


{% endblock %}

